/*Selecting a font*/
html{
	font-family:Arial, Helvetica, sans-serif;
}
/*Heading 1 font*/
h1 {
	text-align: center;
	font-size:60px;
	color:white;
}

/* Navigation bar*/
/*List*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color:#a83122; /*Red*/
}

li {
	float: left;
}

li a, .dropbttn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid white;
}

/*Hovering over nav buttons changes colour*/
li a:hover, .dropdwn:hover .dropbttn {
	background-color: #5e0707;
	color:white;
	text-decoration:none;
}

/* Search for a recipe on the right of the navbar*/
li:last-child{
	float:right;
}



/*Colour of the active page*/
.active {
	background-color: #e3bb1e;
}

/*Dropdown menus*/
li.dropdwn{
	display:inline-block;
}



/*Style of the dropdown menus*/
.dropdwn-content{
	display:none;
	position:absolute;
	background-color:#f9f9f9;
    min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdwn-content a{
	color:black;
	padding: 12px 16px;
	text-decoration:none;
	display:block;
	text-align:left;
}

/*Hover colour*/
.dropdwn-content a:hover{
	background-color:#f1f1f1}

.dropdwn:hover .dropdwn-content {
  display: block;
}


/*Forms*/

input[type=text], #add_ingredients, #add_method, select{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display: inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing: border-box;
	float:none;
}
/*Search recipe bar*/
#search {
	position:relative;
	right:200px;
	height:30px;
}
/*Search recipe button*/
#search_button {
	position:absolute;
	right:100px;
	height:30px;
	padding: 0 0;
}

input[type=submit] {
	width:100px;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

input[type=submit]:hover {
	background-color: #45a049;
}


/*Formatting for form for adding a recipe*/
#add_recipe{
	width:400px;
}

/*Formatting for ingredient and method boxes*/
#add_ingredients{
	min-width:400px;
	max-width:600px;
	min-height:200px;
	max-height:400px;
}


#add_method{
	width: 600px;
	min-width: 400px;
	max-width: 900px;
	min-height: 200px;
	max-height:600px;
}

#label{
	position: relative;
}

div{
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 10px;
	
}
/* Picture gallery */

div.gallery{
	margin:5px;
	border:1px solid #ccc;
	float:left;
}

div.gallery:hover {
  border: 1px solid #777;
}


div.gallery img{
	width:200px;
	height:200px;
}

div.desc{
	padding:15px;
	text-align:center;
}

.header{
	background-color:#e37d1e;
	text-align: center;
	padding: 20px;
}
