/*Selecting a font*/
html{
	font-family:Arial, Helvetica, sans-serif;
}

/*The layout of the whole page*/
.main_body{
	background-color:#f7f0e3;
}

/*Removing the margins on the page when the page is less than 1000px so it is not too narrow*/
@media screen and (max-width: 1000px) {
	.main_body{
		margin-left:0;
		margin-right:0;
	}
}

/*Heading 1 font - The writing in the header*/
h1 {
	text-align: center;
	font-size:60px;
	color:white;
}

/*The header formatting*/
.header{
	background-color:#222363; /*Dark blue*/
	text-align: center;
	padding: 10px;
	border-radius:0px;
}

#template{
	padding: 0 0;
}

#logInButton{
	float:right;
}

/*Formatting for divs*/
div{
	border-radius: 5px;
	background-color: white;
	padding: 10px;
}

/* Navigation bar*/

	/*List*/
	.topnav{ /*The whole navigation bar - i.e. the background, padding, etc.*/
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow:hidden;
		background-color:#729bd6; /*Light blue*/
	}

	.myTopnav { /*The list in the navigation bar*/
		float: left;	
	}

	/*Links in a list - navigation bar*/
	li a, .dropbttn { /*li a: The list of links in the navigation bar, dropbttn: the links which are dropdown buttons*/
		display: inline-block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		border-right: 1px solid white;
	}

	/*Hovering over nav buttons changes colour*/
	li a:hover, .myTopnav.dropdwn:hover .dropbttn .dropdwn {
		background-color: #9fbde0;
		color:white;
		text-decoration:none;
	}
	
	li.active,{
		background-color:#729bd6;
	}

	/*Resizing the page alters the navbar*/

		/*The "icon" part of "topnav" shouldn't be displayed by default*/
		#nav_icon{ 
  		  display: none;
	  }

	  /*When screen size is less than 1000px wide, only display the Home button and the navigation icon*/
	  @media screen and (max-width: 1000px) {
		  .myTopnav:not(:first-child) {display: none;}
		  #nav_icon {
			  float: left;
			  display: block;
		  }
	  }
	  
	  /*Something to do with the navbar*/
	  @media screen and (max-width: 1000px) {
  		.myTopnav.responsive {position: relative;}
  	  	.myTopnav.responsive a.icon {
    		position: absolute;
    		right: 0;
    		top: 0;
  	  }
	  
	  /*Formating of the navbar buttons*/
	  .myTopnav.responsive a {
		  float: none;
		  display: block;
		  text-align: left;
		  }
	  }
	  
	  /*Hover colour*/
	  .dropdwn-content a:hover{
		  background-color:#f1f1f1}
	  
	  /*Dropdown menus*/
	  li.dropdwn{
		  display:inline-block;
	  }
	  
	  	/*Style of the dropdown menus*/
	  	.dropdwn-content{
		  	display:none;
		  	position:absolute;
		  	background-color:#f9f9f9;
		  	min-width: 160px;
		 	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  	z-index: 1;
		  	}
		  
		.dropdwn-content a{
			color:black;
			padding: 12px 16px;
			text-decoration:none;
			display:block;
			text-align:left;
		}
		/*The dropdown menu when the screen is small*/
	.nav_dropdown{
		display:none;
		position:absolute;
		background-color:#a83122;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		padding: 0 0;
		}
		
	.nav_dropdown a{
		float:left;
		padding: 12px 16px;
		text-decoration:none;
		display:block;
		color:white;
		text-align:left;
	}
	
	.nav_dropdown a:last-child{
		border-right:none;
	}
	

	.nav_dropdown a:hover{
		background-color:#5e0707}
		
		
		/*Hovering reveals other buttons*/
		
	.dropdwn:hover .dropdwn-content{
		display: block;
		}
	
	.dropdwn:hover .nav_dropdown{
		display:block;
	}
	
	/*Search recipe bar*/
	
	#recipeSearch{
		float:right;
		padding-right:10px;
	}
		
	#search { /*Search bar*/
		height:30px;
		width:200px;
	}
	
	#searchSelect { /*Search dropdown for choosing title or ingredient*/
		height:30px;
		width:100px;
		padding:0px;
	}
	#search_button { /*Search recipe button*/
		padding-right:15%;
		height:30px;
		padding: 0 0;
		width:30px;
		background-color:green;
		color:white;
	}
	
	
	/*Landing page image*/
	.landingImage{
		width:100%;
		height:80%%;
		padding:none;
	}
	
	#landingImageDiv{
		padding:0;
		margin:0;
	}
	
/* Columns for searching recipe and search ingredient boxes on home page*/
	#home_search{
		width:90%;
		margin-left:5%;
		margin-right:5%;
	}

.column{
	text-align:center;
	width:50%;
	background-color:#ffffcc;
}	
	

/* Picture gallery on home page*/

div.gallery{
	margin-left:0.75%;
	margin-right:0.25%;
	border:1px solid #ccc;
	float:left;
	width:260px;
	}

div.gallery:hover {
	border: 1px solid #777;
}


div.gallery img{
	width:80%;
	height:240px;
	object-fit:cover;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

div.desc{
	padding:15px;
	text-align:center;
}

/*Forms*/

input[type=text], #add_ingredients, #add_method, #notes, select{
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	display: inline-block;
	border:1px solid #ccc;
	border-radius:4px;
	box-sizing: border-box;
	float:none;
}

/*Form label formatting*/
	#label{
		position: relative;
	}

input[type=submit] {
	width:100px;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	text-align: center;
	display: inline-block;
}

input[type=submit]:hover {
	background-color: #45a049;
}

/*Formatting for form for adding a recipe*/
#add_recipe{
	width:100%;
	background-color:white;
}

	#main{
		background-color:white;
		padding-right: 15%;
		padding-left: 15%;
	}
	/*Checkbox list of categories to add*/
	#categories_columns{
		text-align:center;
		width:33%;
	}
	
	/*Column layout for add categories*/
	#three_columns
	{columns:300px 3;
		width:100%;
	}
	

	/*Formatting for ingredient and method boxes*/
	#add_ingredients{ /*Add ingredients text area*/
		min-width:400px;
		max-width:600px;
		min-height:200px;
		max-height:400px;
	}

	#add_method{ /*Add method text area*/
		min-width: 400px;
		max-width: 900px;
		min-height: 200px;
		max-height:600px;
	}
	#notes{ /*Add notes text area*/
		min-width: 400px;
		max-width: 900px;
		min-height: 200px;
		max-height:600px;
	}
	
	.help_bubble{
		display:none;
		width: 300px;
		  background: #a83122;
		  text-align: center;
		  color: #fff;
		  font-family: arial;
		  position:absolute;
		  margin-left:30px;
	}
	
	.sb1:before {
	  content: "";
	  width: 0px;
	  height: 0px;
	  position: absolute;
      border-right: 10px solid #a83122;
      border-left: 10px solid transparent;
      border-top: 10px solid #a83122;
      border-bottom: 10px solid transparent;
      left: -20px;
      top: 6px;
	}
	
	/*Hovering over help_icon will show help_bubble*/
	
	.help_icon:hover + .help_bubble{
		display:inline-block;
	}
	
	
	
	
/*Filterable table of category*/
#category_table{
	width: 50%;
}

/*The input of the categories table search*/
#categorySearch{
	color: black;
}

.categories{
	float:left;
}

.table_row:hover{
	cursor:pointer;
	background-color:#d6d6d6;
}

#search_result{ /*Images displayed on search results*/
	width:250px;
	height:200px;
}

#search_result_text{
	height:200px;
	padding-right:100px;
}




.category_list{
	margin-left:50px;
}

/*Formatting the preview recipe page when on a small screen*/

@media screen and (max-width: 700px) {
	.recipe_info{
		clear:left;
		padding:0px !important;
	}
}

.login_page
{text-align:center;
}

#username, #password{
	width:300px;
	height:30px;
	border-color:black;
	border-width:1px;
	border-radius:4px;
	padding:12px 10px;
}

#login_form{
	width:80%;
	background-color:#d4d4d4;
	align:center;
}

#google_login{
	background-color:#4285f4;
	border-color:#4285f4;
	width:300px;
	padding:0px;
	color:white;
	vertical-align:
}

#google_icon{
	width:50px;
	height:50px;
	background-color:white;
	float:left;
}
	
	
.fa-star-of-life{
	font-size:10px;
	color: red;
	vertical-align:super;
}

/* Formatting the favourites star */ 
.fas-star{
	color:yellow;
}
	