<!DOCTYPE html>
<html>
<head>
<title>Error</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->
  <script src="https://www.w3schools.com/lib/w3data.js"></script>

</head>
<body class="main_body">

<!--Header -->
<div id="template" w3-include-html="static/content.html"></div> 

<script>
w3IncludeHTML();
</script>

<div id="main">
<br>
<h3 id="errorMessage"> {{error}} <br></h3>
			<p>{{emsg}}<br>
			Press the back arrow to edit your upload </p>  
			
</div>
</body>
</html>