<!DOCTYPE html>
<html>
<head>
<title>Categories</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->
  <script src="https://www.w3schools.com/lib/w3data.js"></script>

<script>
$(document).ready(function(){
  $("#categorySearch").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


</head>
<body class="main_body">
<!--Header -->
<div id="template" w3-include-html="static/content.html"></div> 

<script>
w3IncludeHTML();
</script>


<div id="main">

<div class="container mt-3" id="category_table" style="width:500px; alignment: left;">
  <h2>Browse Recipes by Category</h2> 
  <input class="form-control" id="categorySearch" type="text" placeholder="Search...">
  <br>
  <table class="table table-bordered">

    <tbody id="myTable">
        <tr class="table_row" onclick="window.location='/Search_Category.html?type={{all}}';"> 
            <td>All</td>
        </tr>
        {% for cats in categoryNames %}
            <tr class="table_row" onclick="window.location='/Search_Category.html?type={{cats}}';"> 
                <td>{{cats}}</td>
            </tr>
        {% endfor %}
        
    </tbody>
  </table>

</div>
</div>


</body>
</html>
