<!DOCTYPE html>
<html>
<head>
<title>Edit a Recipe</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->
<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body class="main_body">
<!--Header -->
<div id="template" w3-include-html="static/content.html"></div> 

<script>
w3IncludeHTML();
</script>

<!-- Main text -->

<div id="main">
<br>
	<h2>Edit Recipe</h2>
	
		<form action="/Preview_Recipe.html" id="add_recipe" method="post" enctype="multipart/form-data"> 
			<!--Title of Recipe-->
			<i class='fas fa-star-of-life'></i><label for="recipe_name">Title</label>							
			<input type="text" name="recipe_name" placeholder="Title" value="{{recipe.recipe_name}}" required>

			<!--Meal Type (Radio)-->
			<i class='fas fa-star-of-life'></i><label for="meal_type">Meal</label> <br>
			<input type="radio" id="breakfast" name="meal" value="Breakfast" >
			<label for="breakfast">Breakfast</label><br>
			<input type="radio" id="lunch" name="meal" value="Lunch">
			<label for="lunch">Lunch</label><br>
			<input type="radio" id="dinner" name="meal" value="Dinner">
			<label for="dinner">Dinner</label><br>
			<input type="radio" id="dessert" name="meal" value="Dessert">
			<label for="dessert">Dessert</label><br>
			<input type="radio" id="snacks" name="meal" value="Snacks">
			<label for="snacks">Snacks</label><br>
			<input type="radio" id="other" name="meal" value="Other" required>
			<label for="other">Other</label><br>
			
			<!--Skill Level (Radio)-->
            <br><i class='fas fa-star-of-life'></i><label for="skill_level">Skill Level</label><br>	
            <input type="radio" id="easy" name="skill_level" value="Easy" {% if recipe.skill_level == "Easy" %} checked {% endif %}>
            <label for="easy">Easy</label><br>
            <input type="radio" id="medium" name="skill_level" value="Medium" {% if recipe.skill_level == "Medium" %} checked {% endif %}>
            <label for="medium">Medium</label><br>
            <input type="radio" id="hard" name="skill_level" value="Hard" required {% if recipe.skill_level == "Hard" %} checked {% endif %}>
            <label for="hard">Hard</label><br>
			
			<!-- Cooking Time-->
			<br><label for="cooking_time">Cooking Time</label><br> 	
			<input type="number" id="hours" name="hours" min="0" max="24" {% if recipe is none %} value="0" {% else %} value="{{recipe.hours}}" {% endif %}>
			<label for=hours>Hour(s)</label>
			<input type="number" id="minutes" name="minutes" min="0" max="59" {% if recipe is none %} value="0" {% else %} value="{{recipe.minutes}}" {% endif %}>
			<label for=minutes>Minutes</label><br>	
			
			<!--Servings-->
			<br><label for="servings">Servings</label><br>
			<input type="number" id="servings" name="servings" min="0" max="20" {% if recipe is none %} value="0" {% else %} value="{{recipe.servings}}" {% endif %}>
			<br>						
		
			<!--Categories-->
			<br><label for="categories">Categories</label><br>
			<div class="row" id="three_columns"> 
                    
				<div id="categories_columns"> <!--First column-->
					{% for cats in col1 %}
                        <input type="checkbox" id="{{cats}}" name="{{cats}}" value="{{cats}}">
                        <label for="{{cats}}">{{cats}}</label>
                        <br>
                    {% endfor %}
				</div>
				
				<div id="categories_columns"> <!-- Second column-->
					{% for cats in col2 %}
                        <input type="checkbox" id="{{cats}}" name="{{cats}}" value="{{cats}}">
                        <label for="{{cats}}">{{cats}}</label>
                        <br>
                    {% endfor %}
				</div>
				
				<div id="categories_columns"> <!--Third column-->
					{% for cats in col3 %}
                        <input type="checkbox" id="{{cats}}" name="{{cats}}" value="{{cats}}">
                        <label for="{{cats}}">{{cats}}</label>
                        <br>
                    {% endfor %}
				</div>

			</div>
			<br>
			 <!-- Ingredients list-->
			<br> <i class='fas fa-star-of-life'></i><label for="ingredients" id="label" style=text-align:left>Ingredients </label> <span class="help_icon"><i class='fas fa-question-circle'></i></span>
			<div class="help_bubble sb1"><p>List each ingredient on a new line, e.g.: <br>100g flour<br>50g butter<br>2 eggs</p></div> <br>		
			<textarea name="ingredients" id="add_ingredients" placeholder="List ingredients here" required> {{recipe.ingredients}} </textarea>
			
			<!-- Method explanation-->
			<br><i class='fas fa-star-of-life'></i><label for="method" id="label">Method </label> <span class="help_icon"><i class='fas fa-question-circle'></i>
			</span><div class="help_bubble sb1"><p>List each step on a new line <u>without numbers</u></p></div>
			<br> 		
			<textarea name="Method" id="add_method" placeholder="Enter method here" required> {{recipe.method}} </textarea>
			
			<!-- Notes-->
			<br><label for="notes" id="label">Notes</label><br>
			<textarea name="notes" id="notes" placeholder="Enter notes here"> {{recipe.notes}} </textarea>
			<br>
			
				<!--Image upload-->
			<br><label for="image" id="label">Image Upload</label> <br>
			<input type="file" name="upload">
			
			<br>
			<br><input type="submit"
			value="Preview">
		</form>	
</div>
</body>