<!DOCTYPE html>
<html>
<head>
<title>Recipe Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->
	<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body class="main_body">


<div id="template" w3-include-html="static/content.html"></div> 

<script>
w3IncludeHTML();
</script>



<!--Main text-->
<div class="login_page">
	<form id="login_form">
		<label for="username"> Username </label> <input type="text" name="username" id="username" required> <br>
		<label for="password"> Password </label> <input type="password" name="password" id="password" required> <br>
		<input type="submit" value="Log in" id="login_button">
	<p> Or </p>

	</form>
	<button id="google_login"> 	<img src="static/google-icon.png" alt="Google Logo" id="google_icon" > <p>Sign in with Google</p></button>

</div>

  
  
  </body>
  </html>
