<!DOCTYPE html>
<html>
<head>
<title>Preview Recipe</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->
<script src="https://www.w3schools.com/lib/w3data.js"></script>
</head>
<body class="main_body">
<!--Header -->
<div id="template" w3-include-html="static/content.html"></div> 

<script>
w3IncludeHTML();
</script>


<h2>Preview</h2>
<br>
<div style="height:auto; min-height:350px; background-color:#f0dcd1;">
	{% if recipe.image_URL is none %}
	    <img src="static/knifeAndFork.jpg" alt="img" style="float:left; height:300px; width:400px; margin:10px; object-fit:cover;">
	{% else %}
	    <img src="{{ recipe.image_URL }}" alt="img" style="float:left; height:300px; width:400px; margin:20px; object-fit:cover;">
	{% endif %}

	<div style="position:relative; left:20px; width:auto; float:left; background-color:#f0dcd1">
		<h2>{{ recipe.recipe_name }} </h2> <!--Recipe Title-->
		<p>
			Meal Type: {{ recipe.meal_type }} <br>
			Cooking time: {{recipe.hours}} hrs {{recipe.minutes}} mins <br>
			Skill Level: {{recipe.skill_level}} <br>
			Servings: {{recipe.servings}} <br>
			Categories:
				<ul class="recipe_info category_list">
				    {% for category in categories %}
                        <li> {{category}} </li>
                    {% endfor %}
				</ul>
		</p>
</div>
</div>
<div style="position:relative; float:left; width:400px; display:inline">
<h3 style=clear:left>Ingredients:</h3>
	<ul>
    {% for i in recipe.ingredients %} 
        <li>{{i}} </li>
    {% endfor %}
</ul>
</div>
<div style="position:relative; float:left; width:650px; display:inline;">
<h3> Method: </h3>
<ol>
    {% for m in recipe.method %}
        <li> {{m}} </li>
    {% endfor %}
</ol>
</div>

<h3 style="clear:left"> Notes:</h3>
<p>
{% for n in recipe.notes %}
     {{ n }} <br>
{% endfor %}
</p>

<form action="Submitted_Recipe.html" method="post">
    <input type="submit" value="Submit" id="submit_button">
</form>


</body>
</html>