<!DOCTYPE html>
<html>
<head>
<title>Recipe Home</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->

</head>
<body class="main_body">

<!--Header -->
<div class="header">
	<h1>Recipes</h1>
</div>
 
<!-- Navigation bar-->
<ul class="topnav">
		<li class="myTopnav active"><a href="/">Home</a></li> <!--Clicking home takes you to the home page-->
		
		<!--Navigation icon when screen is small-->
		<li class="myTopnav dropdwn" id="nav_icon">  
			<a href="javascript:void(0)"
			 class="dropbttn"> <i class="fa fa-bars"></i> </a>
				<div class="nav_dropdown">
					<a href="#">Meals</a>
					<a href="Category_Search.html">Categories</a>
					<a href="Favourites.html">Favourites</a>
					<a href="Add_a_Recipe.html">Add</a>
				</div>
					</li>
	
	
	
	<!-- Meals dropdown menu-->
	<li class="myTopnav dropdwn"  id="myTopnav">
		<a href="javascript:void(0)"
		 class="dropbttn">Meals</a>
			<div class="dropdwn-content"> <!--Meal options-->
				<a href="#">Breakfast</a>
				<a href="#">Lunch</a>
				<a href="#">Dinner</a>
				<a href="#">Pudding</a>
				<a href="#">Snacks</a>
			</div>
		</li>
		
	<!-- Categories dropdown menu-->
	<li class="myTopnav" id="myTopnav">
			<a href="/Category_Search.html">Categories</a>
		
		</li>
	<li class="myTopnav" id="myTopnav"><a href="/Favourites.html">Favourites</a></li>
	<li class="myTopnav" id="myTopnav"><a href="/Add_a_Recipe.html">Add</a></li>
	
	<!--Search bar-->
	<li>
		<form action="Recipe_Search.html">
		<input type="text" id="search" name="recipesearch" placeholder="Search all recipes...">
		<input type="submit" value="Search" id="search_button">
		
	
	</form></li>

</div>
</ul>

<!-- Main text -->
<div style="display:grid;">
<br>
<h2>Search for a Recipe</h2>
<div class="row" style="padding:none">
	<div class="column" style="width:50%; background-color:#ffffcc;";>
		<!-- Search by name -->
		<form action="/Ingredient_Search.html">
			<label for="ingredient"><h4 style="text-align:center">Search by Name</h4></label>
			<br>
			<input type="text" id="recsearch" name="recsearch" placeholder="Search recipes...">
			<br>
			<input type="submit"
			value="Search">
		</form>
	</div>
	
	<div class="column" style="width:50%; background-color:#ffffcc;">
		<!-- Search for ingredients form-->
			<form action="/Ingredient_Search.html">
				<label for="ingredient"><h4 style="text-align:center">Search by Ingredient</h4></label>
				<input type="text" id="ingredient" name="ingsearch" placeholder="Search ingredients...">
				<input type="submit"
				value="Search">
			</form>
	</div>
</div>


<hr>

<h2>Feeling Lucky?</h2>
<p> Click here for a random recipe! </p>
<hr>

<h2>Popular Recipes</h2>
<hr>
<div>
<!-- Gallery-->
<a href="Recipe_Result.html">
	<div class="gallery">
		<img src="static/pancakes.jpeg" alt="Pancakes">
		<div class="desc">Gluten Free Pancakes</div>
	</div>
</a>

<a href="Recipe_Result.html">
	<div class="gallery">
		<img src="static/Cheesy-Cottage-Pie-Scoop-500x500.jpg" alt="Cottage Pie">
		<div class="desc">Cottage Pie</div>
	</div>
</a>

<a href="Recipe_Result.html">
	<div class="gallery">
		<img src="static/d48f476f-ab97-4edf-8d5b-d617e5f261d0.jpg" alt="Brownies">
		<div class="desc">Double Choc Brownies</div>
	</div>
</a>

<a href="Recipe_Result.html">
	<div class="gallery">
		<img src="static/creamy-carbonara-1.jpg" alt="Carbonara">
		<div class="desc">Spaghetti Carbonara</div>
	</div>
</a>
</div>

</div>
</body>

</html>