<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/recipestyle.css"> <!--My CSS StyleSheet-->

</head>
<body class="main_body">
<!--Header -->
<div class="header">
	<h1>Recipes</h1>
</div>
 
<!-- Navigation bar-->
<ul class="topnav">
		<li class="myTopnav"><a href="/">Home</a></li> <!--Clicking home takes you to the home page-->
		
		<!--Navigation icon when screen is small-->
		<li class="myTopnav dropdwn" id="nav_icon">  
			<a href="javascript:void(0)"
			 class="dropbttn"> <i class="fa fa-bars"></i> </a>
				<div class="nav_dropdown">
					<a href="#">Meals</a>
					<a href="Category_Search.html">Categories</a>
					<a href="Favourites.html">Favourites</a>
					<a href="Add_a_Recipe.html">Add</a>
				</div>
					</li>
	
	
	
	<!-- Meals dropdown menu-->
	<li class="myTopnav dropdwn"  id="myTopnav">
		<a href="javascript:void(0)"
		 class="dropbttn">Meals</a>
			<div class="dropdwn-content"> <!--Meal options-->
				<a href="#">Breakfast</a>
				<a href="#">Lunch</a>
				<a href="#">Dinner</a>
				<a href="#">Pudding</a>
				<a href="#">Snacks</a>
			</div>
		</li>
	<!-- Categories dropdown menu-->
	<li class="myTopnav" id="myTopnav">
			<a href="/Category_Search.html">Categories</a>
		
		</li>
	<li class="myTopnav" id="myTopnav"><a href="/Favourites.html">Favourites</a></li>
	<li class="myTopnav" id="myTopnav"><a href="/Add_a_Recipe.html">Add</a></li>
	<!--Search bar-->
	<li>
		<form action="Recipe_Search.html">
		<input type="text" id="search" name="recipesearch" placeholder="Search all recipes...">
		<input type="submit" value="Search" id="search_button">
		
	
	</form></li>

</div>
</ul>
<div>

	<br><h2>Search Results: </h2> <br>
        
        {% if num_recipes > 0 %}
            <!-- results are found -->
            <h3> Displaying a total of {{ num_recipes }} result(s). </h3>

            {% for recipe in recipes %}
            
                {% if recipe.image_URL is none %}
                    <img src="static/knifeAndFork.jpg" alt="img" style="float:left; height:300px; width:400px; margin:10px; object-fit:cover;">
                {% else %}
                    <img src="{{ recipe.image_URL }}" alt="img" style="float:left; height:300px; width:400px; margin:20px; object-fit:cover;">
                {% endif %}
                <div class="recipe_info" id="search_result_text">
                    <h3> <a href="/Recipe_Result.html?recipeName={{recipe.recipe_name}}" name="hello"> {{recipe.recipe_name}} </a></h3>
                    <p><b>Serves:</b> {{recipe.servings}} <br>
                    <b>Cooking time:</b> {{recipe.hours}} hours and {{recipe.minutes}} mins <br>
                    <b>Skill level: </b>{{recipe.skill_level}}<br>
                </div>
                <hr style="clear:left;">
            {% endfor %}
            
        {% else %}
            <!-- No results found here -->
            <p> No results found. Check the wording of your search and try again. </p>
        {% endif %}
</div>
</body>
</html>